body {
    margin:0px;
}

.header, .sec-one {
    background-color: #1F2937;
    display:flex;
}

.header {
    justify-content: space-between;
    heigt:40px;
}

ul {
    display:flex;
    gap:25px;
    list-style: none;
    flex:auto;
    padding:0px;
    margin-right:80px;
    justify-content: flex-end;
}

.image, .logo {
    display:flex;
    justify-content: flex-end;
    margin-right:70px;
    align-items: center;
    flex: auto;
    padding:10px;
}

a{
    text-decoration: none;
    font-weight: lighter;
    color: #F9FAF8
}

h1, .logo {
    color: #F9FAF8;
    font-family: roboto;
}

.logo {
    display:flex;
    justify-content: flex-start;
    margin-left:80px;
}

p {
    font-size:18px;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: center;
    width:150px;
    color:grey;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    padding-left:80px;
    padding-top:80px;
    padding-bottom:80px;
    padding-right:0px;
    width:375px;
}

button {
    width:110px;
    height:40px;
    background-color: #3882F6;
    color:white;
    border-radius: 10px;
    border: none;
}

h1 {
    margin: 0px;
}

.signupimage {
    width:400px;
    border:none;
    border-radius: 0px;
}

img {
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.Info-Header {
    color:black;
    margin:25px;
    flex:auto;
    align-self:center;
}

.sec-two {
    display: flex;
    flex-direction: column;
    padding-bottom:40px;
}

.media-container {
    display: flex;
    gap:30px;
    justify-content: center;
}

.sign-up-desc {
    text-align: left;
    color:#E5E7EB;
    width:auto;
}

.sec-three {
    background-color: #E5E7EB;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 50px 0px;
}

.quote, .quote-owner {
    width:800px;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size:36px;
    font-weight: lighter;
    font-style: italic;    
    color: #1F2937;
    text-align: left;
}

.quote-owner {
    color:black;
    text-align: right;
}